html, body {
		box-sizing: border-box;
	}
	*{
		box-sizing: inherit;
	}
	html, body, h1, h2, h3, h4, h5, h6{
		padding: 0;
		margin: 0;
	}

	#body{
		min-height: 100vh;
	  background-image: linear-gradient( #e6ffff,#ccffcc);
	}


#title{
  font-family: 'Montserrat';
	font-weight: 900;
  font-size: 40px;
	color: black;
  text-align: center;
  margin-top: 30px;
}

.desktopnav{
	padding-top: 15px;
	padding-bottom: 15px;
  text-align: center;
	font-size: 18px;
  color: black;
	display: block;
}

li{
	padding-right: 20px;
  font-family: 'Montserrat', sans-serif;
	display: inline;

}


#bodycopy{
  font-size: 16px;
  line-height: 1.6em;
	color: black;
  font-family: 'Montserrat';
  margin-left:100px;
	margin-right:100px;

}



#footer{
  font-family: 'Montserrat';
  text-align: center;
  font-size: 10px;
	color: black;
  margin-top: 50px;
}

.mobile{
  position:fixed;
  top:0px;
  width:100vw;
  height:30vh;
  z-index:10;
  background-color:black;
	display: none;

}

.mobileMenuButton{
	display: none;
}

.mobileExit{
font-family: 'Montserrat';
font-weight: 400;
font-size: 15px;
text-align: center;
padding-top: 20px;
display: block;
color:#e6ffff;
}

nav.mobile ul li{
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 15px;
	text-align: center;
	display: block;
	padding-top: 20px;
	margin-right: 20px;
	color:white;
}


@media only screen and (max-width: 812px) {

#title{
	font-size: 35px;
	text-align:center;
}
#bodycopy
{
	font-size: 18px;
	line-height: 2em;
	margin-left: 50px;
	margin-right: 50px;
}
.desktopnav{
	display: none;
}

.mobileMenuButton{
	font-family: 'Montserrat';
	font-weight: 900;
  font-size: 18px;
	text-align: center;
	padding-top: 20px;
	display: block;
}



}


@media only screen and (max-width: 568px) {

#title{
	font-size: 30px;
	text-align:center;
}
#bodycopy
{
	font-size: 16px;
	line-height: 2em;
	margin-left: 50px;
	margin-right: 50px;
}
.desktopnav{
	display: none;
}

.mobileMenuButton{
	font-family: 'Montserrat';
	font-weight: 900;
  font-size: 15px;
	text-align: center;
	padding-top: 20px;
	display: block;
}



}
